%section.callaction
  .container
    .row
      .col-lg-12
        .big-cta
          .cta-text
            %h1 ユーザー情報編集ページ
.container-fluid
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    　
    .field
      = f.label :username, 'ニックネーム'
      %br/
      = f.text_field :username, autofocus: true
    %br/
    .field
      = f.label :email, 'メールアドレス'
      %br/
      = f.email_field :email, autofocus: true
    %br/
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    %br/
    .field
      = f.label :password, 'パスワード'
      %i (変更しない場合は空欄)
      %br/
      = f.password_field :password, autocomplete: "off"
      - if @minimum_password_length
        %em
          = @minimum_password_length
          文字以上
    %br/
    .field
      = f.label :password_confirmation, 'パスワード確認'
      %br/
      = f.password_field :password_confirmation, autocomplete: "off"
    %br/
    .field
      = f.label :current_password, '現在のパスワード'
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password, autocomplete: "off"
    .actions
      = f.submit "Update"
  %h3 Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "Back", :back
