- if bicycles.any?
  %ul.media-list
    - bicycles.each do |bicycle|
      %li.media
        .well.center-block{:style => "width:50%;"}
          .media-left
            - if bicycle.image?
              　　#{image_tag bicycle.image.thumb.url}
            - else
              　　#{image_tag "no_image.png", size:"100"}
              　
            　
          .media-body
            .h3
              車種：#{bicycle.name}
              %br/
              貸し出し人：#{bicycle.user.username}
              %br/
              貸し出し場所：#{bicycle.place}
              %br/
              コメント：#{bicycle.content}
              %br/
              .btn.btn-primary
                = link_to '詳細', bicycle_path(bicycle)
          .media.answer
            - if bicycle.matchings.find_by(borrower_id: current_user.id).return_message != nil 
              返答：-
            - else
              返答："= bicycle.matchings.find_by(borrower_id: current_user.id).return_message"              
          = paginate bicycles

