- if bicycles.any?
  %ul.media-list
    - bicycles.each do |bicycle|
      %li.media
        .well.center-block{:style => "width:50%;"}
          .media-left
            - if bicycle.image?
              　　#{image_tag bicycle.image.thumb.url}
            - else
              　　#{image_tag "no_image.png", size:"100"}
              　
            　
          .media-body
            .h3
              車種：#{bicycle.name}
              %br/
              貸し出し人：#{bicycle.user.username}
              %br/
              貸し出し場所：#{bicycle.place}
              %br/
              コメント：#{bicycle.content}
              %br/
              .btn.btn-default
                = link_to '詳細', bicycle_path(bicycle)
          .media.answer
            - if bicycle.matchings.include?(current_user)
              -if bicycle.matchings.find_by(borrower_id: borrower.id).matching_status == "1"
                返答：承認　メッセージ："= bicycle.mymatching.return_message"
              -else
                返答：拒否　メッセージ："= bicycle.mymatching.return_message"
          = paginate bicycles

