%section.callaction
  .container
    .row
      .col-lg-12
        .big-cta
          .cta-text
            %h1
              = @bicycle.name
              の希望者一覧 
.container
  .return_button
    %table.table.table-hover
      %thead
        %tr
          %th 名前
          %th 返答
          %th メッセージ
          %th 返答・メッセージの編集
      %tbody
        - @borrowers.each do |borrower|
          %tr
            %td= borrower.username
            - if @bicycle.matchings.find_by(borrower_id: borrower.id).matching_status == 1
              %td 承認
            - elsif @bicycle.matchings.find_by(borrower_id: borrower.id).matching_status == 2
              %td 拒否
            -else
              %td -
            - if @bicycle.matchings.find_by(borrower_id: borrower.id).return_message != nil
              %td= @bicycle.matchings.find_by(borrower_id: borrower.id).return_message
            -else
              %td -
            %td
              / = form_for(@bicycle.matchings.find_by(borrower_id: borrower.id)) do |f|
              /   = f.hidden_field :renter_id, value: current_user.id
              /   = f.hidden_field :matching_status, value: "2"
              /   = hidden_field_tag :borrower_id, borrower.id
              /   = f.submit '拒否', class: 'btn btn-primary'
              / = form_for(@bicycle.matchings.find_by(borrower_id: borrower.id)) do |f|
              /   = f.hidden_field :renter_id, value: current_user.id
              /   = f.hidden_field :matching_status, value: "1"
              /   = hidden_field_tag :borrower_id, borrower.id
              /   = f.submit '承認', class: 'btn btn-primary'
              / = form_for(@bicycle.matchings.find_by(borrower_id: borrower.id)) do |f|
              /   = f.text_field :return_message, placeholder: "メッセージ"
              /   = f.submit 'メッセージを送る'
              = form_for(@bicycle.matchings.find_by(borrower_id: borrower.id)) do |f|
                = f.hidden_field :renter_id, value: current_user.id
                = f.hidden_field :matching_status, value: "2"
                = hidden_field_tag :borrower_id, borrower.id
                = submit_tag '拒否', type: 'button', class: 'btn btn-primary a'
              = form_for(@bicycle.matchings.find_by(borrower_id: borrower.id)) do |f|
                = f.hidden_field :renter_id, value: current_user.id
                = f.hidden_field :matching_status, value: "1"
                = hidden_field_tag :borrower_id, borrower.id
                = submit_tag '承認', type: 'button', class: 'btn btn-primary b'
              = form_for(@bicycle.matchings.find_by(borrower_id: borrower.id)) do |f|
                = f.text_field :return_message, placeholder: "メッセージ"
                = f.submit 'メッセージを送る'
  .btn.btn-primary.a
    TEST1
  .btn.btn-primary.b
    TEST2

