.container
  .well.center-block
    %h1
      = @bicycle.name
      の希望者一覧
    - @borrowers.each do |borrower|
      .return_button
        %h3= borrower.username
        - if @bicycle.matchings.return_message.any?
         = @bicycle.matchings.return_message
        -else
         = form_for(@bicycle.matchings.find_by(borrower_id: borrower.id)) do |f|
            = f.text_field :return_message, placeholder: "メッセージ"
           = f.submit 'メッセージを送る'
        = form_for(@bicycle.matchings.find_by(borrower_id: borrower.id)) do |f|
          = f.hidden_field :renter_id, value: current_user.id
          = f.hidden_field :matching_status, value: "2"
          = hidden_field_tag :borrower_id, borrower.id
          = f.submit '拒否', class: 'btn btn-primary'
        = form_for(@bicycle.matchings.find_by(borrower_id: borrower.id)) do |f|
          = f.hidden_field :renter_id, value: current_user.id
          = f.hidden_field :matching_status, value: "1"
          = hidden_field_tag :borrower_id, borrower.id
          = f.submit '承認', class: 'btn btn-primary'

