%section.callaction
	.container
		.row
			.col-lg-12
				.big-cta
					.cta-text
						%h1 自転車一覧
.container
	= search_form_for @q do |f|
		.center-block{:style => "width:50%;"}
			.form-group
				= f.label :name_cont, "検索フォーム"
				= f.text_field :name_cont, class: "form-control"
			.actions
				= f.submit "検索"
			%br/
= render 'bicycles', bicycles: @bicycles
