= bootstrap_devise_error_messages!
%section.callaction
  .container
    .row
      .col-lg-12
        .big-cta
          .cta-text
            %h1 ログイン
.row
  .col-md-6.col-md-offset-3
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :メールアドレス
        %br/
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label :パスワード
        %br/
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :ログインしたままにする
      .actions
        = f.submit "Log in"
    = render "devise/shared/links"
    %br/
    %br/
    %h4 テストアカウント
    %h5 メールアドレス: hanako@aaa.jp
    %h5 パスワード:hanako

