<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Bikeshare</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="mydesign.css" >
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  
 <div class='container'>
  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    
    <header>
         <%= image_tag 'logo.png', :size =>'' %>
         <% if user_signed_in? %>
           <h4><strong><%= current_user.username %>さん</strong></h4>
         <% end %>
     　　<%= render 'layouts/navbar' %>
    </header>
   
    
     <div class="container">
      <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </body>
 </div>
</html>
